@inherits LayoutComponentBase
<!------ Include the above in your HEAD tag ---------->

@* <div class="page"> *@
@*     <div class="sidebar"> *@
@*         <NavMenu/> *@
@*     </div> *@
@* *@
@*   <main> *@
@*     $1$ <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> #1# *@
@*     $1$ <NavLink href="" Match="NavLinkMatch.All"> #1# *@
@*     $1$     <span aria-hidden="true"></span>Parents #1# *@
@*     $1$ </NavLink> #1# *@
@*     $1$ <NavLink href="Students"> #1# *@
@*     $1$     <span aria-hidden="true"></span>Students #1# *@
@*     $1$ </NavLink> #1# *@
@*     $1$ #1# *@
@*     <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark"> *@
@*       <div class="collapse navbar-collapse" id="navbarSupportedContent"> *@
@*         <ul class="navbar-nav mr-auto"> *@
@*           <li class="nav-item dropdown"> *@
@*             <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> *@
@*               <i class="fa fa-user"></i> *@
@*               Parents *@
@*             </a> *@
@*             <div class="dropdown-menu" aria-labelledby="navbarDropdown"> *@
@*               <a class="dropdown-item" href="">List</a> *@
@*               <a class="dropdown-item" href="/AddParent">Add Parent</a> *@
@*             </div> *@
@*           </li> *@
@*           <li class="nav-item dropdown"> *@
@*             <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> *@
@*               <i class="fa fa-user"></i> *@
@*               Students *@
@*             </a> *@
@*             <div class="dropdown-menu" aria-labelledby="navbarDropdown"> *@
@*               <a class="dropdown-item" href="Students">List</a> *@
@*               <a class="dropdown-item" href="/AddStudent">Add Student</a> *@
@*             </div> *@
@*           </li> *@
@*         </ul> *@
@*         <ul class="navbar-nav "> *@
@*           <li class="nav-item"> *@
@*             <a class="nav-link" href="https://docs.microsoft.com/aspnet/"> *@
@*               <i class="fa fa-info-circle"></i> *@
@*               About *@
@*             </a> *@
@*           </li> *@
@*         </ul> *@
@*         <form class="form-inline my-2 my-lg-0"> *@
@*           <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> *@
@*           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> *@
@*         </form> *@
@*       </div> *@
@*     </nav> *@
@*      <article class="content px-4"> *@
@*       @Body *@
@*     </article> *@
@*   </main> *@
@* </div> *@

<MudLayout>
    <AppBar OnSidebarToggled="ToggleSidebar" OnThemeToggled="ToggleTheme" />

    <NavMenu SideBarOpen="_sidebarOpen" />

    <MudMainContent Class="pt-16 px-16">
        <MudContainer Class="mt-6">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<MudThemeProvider Theme="_currentTheme" />

@code {
    private MudTheme _currentTheme = new MudTheme();
    private bool _sidebarOpen = false;


    private void ToggleTheme(MudTheme changedTheme) => _currentTheme = changedTheme;

    private void ToggleSidebar() => _sidebarOpen = !_sidebarOpen;
}