@page "/EditParent/{Id:int}"
@inherits EditParentBase
@using Microsoft.AspNetCore.Components
@using Pschool.Models.Dtos
@using PschoolAPIfront.Services.Contracts
<h3>Edit Parent</h3>


@if (parent == null && ErrorMessage == null)
{
    <DisplaySpinner/>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <EditForm Model="@parent" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator/>
        <p>
            <label>First Name: </label>
            <InputText @bind-Value="parent.FirstName"/>
            <ValidationMessage For="() => parent.FirstName"/>
        </p>
        <p>
            <label>Last Name: </label>
            <InputText @bind-Value="parent.LastName"/>
            <ValidationMessage For="() => parent.LastName"/>
        </p>
        <p>
            <label>Username: </label>
            <InputText @bind-Value="parent.Username"/>
            <ValidationMessage For="() => parent.Username"/>
        </p>
        <p>
            <label>Email: </label>
            <InputText @bind-Value="parent.Email"/>
            <ValidationMessage For="() => parent.Email"/>
        </p>
        <p>
            <label>Home Address: </label>
            <InputText @bind-Value="parent.Address"/>
            <ValidationMessage For="() => parent.Address"/>
        </p>
        <p>
            <label>Phone 1: </label>
            <InputText @bind-Value="parent.PhoneOne"/>
            <ValidationMessage For="() => parent.PhoneOne"/>
        </p>
        <p>
            <label>Phone Work: </label>
            <InputText @bind-Value="parent.PhoneWork"/>
            <ValidationMessage For="() => parent.PhoneWork"/>
        </p>
        <p>
            <label>Phone Home: </label>
            <InputText @bind-Value="parent.PhoneHome"/>
            <ValidationMessage For="() => parent.PhoneHome"/>
        </p>
        <p>
            <label>Siblings: </label>
            <InputNumber @bind-Value="parent.SiblingCount"/>
            <ValidationMessage For="() => parent.SiblingCount"/>
        </p>
        <button type="submit">Edit</button>
    </EditForm>

@if (IsValid && ErrorMessage == null)
{
    <h3 style="color: green;">Data was successfully updated</h3>
}
}