@* @page "/sui" *@
@* @using Pschool.Models.Dtos *@
@* @using Microsoft.AspNetCore.Components *@
@* *@
@* <EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit"> *@
@*     <DataAnnotationsValidator /> *@
@*     <ValidationSummary /> *@
@* *@
@*     <InputText id="name" @bind-Value="exampleModel.Name" /> *@
@* *@
@*     <button type="submit">Submit</button> *@
@* </EditForm> *@
@* *@
@* @code { *@
@*     private ExampleModel exampleModel = new(); *@
@* *@
@*     private void HandleValidSubmit() *@
@*     { *@
@*         System.Console.WriteLine("HandleValidSubmit called"); *@
@* *@
@*     // Process the valid form *@
@*     } *@
@* } *@